@import url(http://fonts.googleapis.com/css?family=Istok+Web:400,700,400italic,700italic);

body {
	background-image: url(../img/bg.png);
	font-family: 'Istok Web', sans-serif !important;
}

a,
a:hover,
a:visited {
	text-decoration: none;
	color: #000;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Istok Web', sans-serif !important;
}

.credits {
	position: absolute;
	top: 10px;
	left: 10px;
}

.logo {
	margin: 0 auto;
	margin-top: 120px;
	margin-bottom: 60px;
}

.sponsor {
	margin: 40px auto;
}

.intro {
	font-size: 20px;
}

.intro span {
	font-weight: 700;
	font-size: 24px;
}

@media (max-width: 768px) {
	.tag {
		margin-top: 100px;
	}
}

.one-edge-shadow {
	-webkit-box-shadow: 0 8px 6px -6px black;
	   -moz-box-shadow: 0 8px 6px -6px black;
	        box-shadow: 0 8px 6px -6px black;
}

.image {
	width: 200px;
	height: auto;
	padding: 10px;
	background: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 5px;
	position: absolute;
	top: 0;
	left: 0;
}

.image img {
	border: 1px solid #000;
	float:left;
}

.image p.place {
	float:left;
	font-size: 16px;
	display:none;
}

.image p.time {
	float:right;
	font-size: 12px;
	font-style: italic;
	margin: 0;
}

@media (max-width: 768px) {
	.image {
		width: 100%;
		margin: 5px auto;
		position: relative;
	}
}