@import url(http://fonts.googleapis.com/css?family=Istok+Web:400,700,400italic,700italic);

body {
	background-image: url(../img/bg.png);
	font-family: 'Istok Web', sans-serif !important;
}

a,
a:hover,
a:visited {
	text-decoration: none;
	color: #000;
}

h1,h2,h3,h4,h5,h6 {
	font-family: 'Istok Web', sans-serif !important;
}

.credits {
	position: absolute;
	top: 10px;
	left: 10px;
}

.logo {
	margin: 0 auto;
	margin-top: 120px;
	margin-bottom: 60px;
}

.intro {
	font-size: 20px;
}

.intro span {
	font-weight: 700;
	font-size: 24px;
}

.image {
	width: 200px;
	height: auto;
	padding: 10px;
	background: #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	margin: 5px;
	position: absolute;
	top: 0;
	left: 0;
}

.image img {
	border: 1px solid #000;
	float:left;
}

.image p.place {
	float:left;
	font-size: 16px;
	display:none;
}

.image p.time {
	float:right;
	font-size: 12px;
	font-style: italic;
	margin: 0;
}

#lightbox{
	background-color:#eee;
	padding: 0;
	border: 10px solid #fff;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	max-width: 90%;
	max-height: 90%;
	height: auto;
	margin: auto !important;
  	position: absolute !important;
  	top: 0 !important; left: 0 !important; bottom: 0 !important; right: 0 !important;
  	overflow: hidden;
	}
#lightboxDetails{
	font-size: 0.8em;
	padding-top: 0.4em;
	}
#lightboxCaption{ float: left; }
#keyboardMsg{ float: right; }
#closeButton{ top: 5px; right: 5px; }

#lightbox img{ border: none; clear: both;}
#overlay img{ border: none; }

#overlay{ background-image: url(overlay.png); }

* html #overlay{
	background-color: #333;
	back\ground-color: transparent;
	background-image: url(blank.gif);
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="overlay.png", sizingMethod="scale");
	}
